* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: "twk lausanne", "roboto", sans-serif;
}
.main {
  position: relative;
}

.page1 {
  position: relative;
  background-color: var(--main-bg);
  min-height: 100vh;
  width: 100%;

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 2vw;
    height: 14vh;
    border-bottom: 1px solid #0000000c;

    .nav-left {
      font-weight: 400;
      font-size: 0.7rem;
      color: #1f2632;
    }
    .nav-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.5vw;
    }
    .nav-right h4 {
      padding: 10px 15px;
      font-size: 1rem;
      font-weight: 400;
      border-radius: 10px;
      border: 1px solid #00000021;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      transition: all ease 0.35s;
    }
    .nav-right h4::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: var(--button-hover);
      left: 0;
      bottom: -100%;
    }
    .nav-right h4:hover::after {
      bottom: 0;
      border-radius: 0;
      transition: all ease 0.35s;
    }
    .nav-right a {
      text-decoration: none;
      color: var(--button-color);
      position: relative;
      z-index: 9;
    }
    .nav-right h4:hover a {
      color: #000000c9;
    }
  }
  .center {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.5vw;

    .heading {
      letter-spacing: -0.1em;
      line-height: 0.9;
      font-family: "Crimson Pro";
      margin-bottom: 1vw;
    }

    .heading-1 {
      color: var(--h1-color);
      font-size: 3.5rem;
      font-weight: 600;
      font-size: 80px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .heading-2 {
      margin-top: 0;
      padding-top: 0;
      position: relative;
      left: 14vw;
      color: var(--h1-color);
      font-size: 3.5rem;
      margin-bottom: 1.5vw;
      font-weight: 600;
      font-size: 80px;
    }
    p {
      color: var(--h1-color);
      font-size: 3.5rem;
      font-weight: 700;
      margin-bottom: 1.5vw;
      font-family: "Space Mono";
      font-weight: 300;
      font-size: 24px;

      span {
        position: relative;
        left: 3vw;
      }
    }
    .get-started {
      padding: 10px 15px;
      font-size: 1rem;
      font-weight: 400;
      border-radius: 10px;
      border: 2px solid #00000021;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      transition: all ease 0.45s;

      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #000000fa;
        left: -95%;
        bottom: 0;
      }
      &:hover::after {
        left: 0;
        border-radius: 0;
        transition: all ease 0.45s;
      }
      a {
        text-decoration: none;
        color: var(--button-color);
        position: relative;
        z-index: 9;
      }
      &:hover {
        border-color: #201e43;
        box-shadow: 0 0 10px #201e43;
      }
      &:hover a {
        color: #fff;
      }
    }
  }
  .hero {
    position: absolute;
    height: 14vw;
    width: 20vw;
    right: 10vh;
    top: 35vh;
  }
  /*   .hero-1 {
    background-color: #fe320a;
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(25px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  } */
  .hero-2 {
    background: linear-gradient(#fe320a, #fe3f0a);
    position: absolute;
    height: 30vw;
    width: 30vw;
    filter: blur(25px);
    border-radius: 50%;
    animation-name: animation2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  /*   .hero-3 {
    background: linear-gradient(#fe320a, #fe3f0a);
    position: absolute;
    height: 30vw;
    width: 30vw;
    filter: blur(25px);
    border-radius: 50%;
    animation-name: animation1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
 */
  @keyframes animation1 {
    from {
      transform: translate(55%, -3%);
    }

    to {
      transform: translate(0%, 10%);
    }
  }

  @keyframes animation2 {
    from {
      transform: translate(35%, -5%);
    }

    to {
      transform: translate(-40%, 4%);
    }
  }
}
